.noise-alert {
  --bs-alert-color: var(--Tar);
  --bs-alert-bg: #eaf7fc ;
  --bs-alert-border-color: #bdf0ff;
  --bs-alert-link-color: var(--Tar);
  border-left:6px solid #00b0f0;}

.badge {
--bs-badge-font-size: 1.5em !important;}

.noise-tool-heading {
  padding: 10px 10px;}

.noise-tool-subheading {
  padding: 6px 6px;
  background-color: var(--Calming_Blue_Grey);
  text-transform: uppercase;}





